@model PortalCarrion.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar Contraseña";

    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex flex-column flex-lg-row justify-content-between align-items-center my-5 gap-5 min-vh-100 w-100">
    <div id="changePwsBox" class="d-flex flex-column justify-content-between align-items-center rounded shadow-lg p-5">
        <h1 class="text-center border-bottom w-100">Condiciones de Uso del Portal</h1>
        <p class="text-justify text-muted pt-5">Bienvenido(a) al portal para empleados de GRUPO CARRION, el portal
            un
            sitio web para que el empleado pueda realizar transacciones de forma ágil y dinámica,como por ejemplo
            ver
            sus recibos de pago en línea o descargarlos a su dispositivo móvil o computadora, el empleado también
            puede
            realizar encuestas proporcionadas por la empresa entre otras cosas.
        </p>
        <p class="text-justify text-muted pt-5">
            Cada empleado es responsable del uso que le da al portal. Esto de acuerdo a sus necesidades. El objetivo
            del
            sitio es para ayudar al empleado a obtener datos que este necesite para realizar trámites etc.

        </p>
        <p class="text-justify text-muted pt-5">
            Recuerde no compartir sus datos de usuario en el portal. Con otras personas si lo hace es bajo su
            responsabilidad.
        </p>
    </div>

    <form id="changePwsBox" asp-action="ChangePassword" method="post"
        class="d-flex flex-column justify-content-between align-items-center rounded shadow-lg p-5">
        <h1 class="text-center border-bottom w-100">Cambiar Contraseña</h1>
        <p class="text-justify text-muted pt-5">La primera vez que un empleado inicia sesión este debe cambiar la
            contraseña
            por una personal y registrar su correo electrónico.</p>
        <input type="hidden" asp-for="UsrUsername" />
        <div class="form-group pt-5 w-100">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group pt-5 w-100">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-danger mt-5 w-100">Cambiar Contraseña</button>
    </form>
</div>