@model PortalCarrion.Models.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";

	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 95vh;">
    <form asp-action="ResetPassword" method="post"
        class="p-5 rounded shadow-lg d-flex flex-column justify-content-center align-items-center gap-5">
        <h2 class="text-center">Restablecer Contraseña</h2>
        <p class="text-muted">Ingrese una nueva contraseña que pueda recordar facilmente</p>

        <input type="hidden" name="token" value="@Model.Token" />

        <div class="form-group mb-3 w-100">
            <label asp-for="NewPassword" class="control-label"></label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 w-100">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger w-100">Restablecer</button>
    </form>
</div>